body {
    max-width: 1600px;
}

nav a {
    text-align: center;
    background-color: #1B98E0;
    color: white;
    text-decoration: none;
}

#hero-msg {
    text-align: center;
}

h4 {
    text-align: center;
    color: white;
}

h1 {
    text-align: center;
}

#hero-msg {
    text-align: center;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
}

.rapids-card {
    text-align: center;
}

body {
    background-color: #006494;
}

header {
    background-color: #1B98E0;
}

nav a:hover {
    background-color: #006494;
    color: white;
}

.book, .join {
    background-color: #006494;
    color: white;
    text-decoration: none;
}

.book:hover, .join:hover {
    background-color: #006494;
    color: white;
}

#background {
    background-color: #1B98E0;
}

.msg {
    background-color: #006494;
    color: white;
}
.msg h2 {
    color: white;
}

.msg p {
    color: white;
}

footer {
    background-color: #1B98E0;
}

footer h3 {
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

.home-title {
    color: white;
}

.icon {
    width: 80px;
}